@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/miama');
* {
  margin: 0;
  padding: 0;
  font-family: "Inter",sans-serif;
  box-sizing: border-box;
  color: white;
}
/* shared styles */
.header {
  padding: 50px 190px 0px 190px;
  background-image: linear-gradient(180deg, 
  #111 0%, 
  #222 50%,
  #111 100%);
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  color: white;
}
nav h2 {
  color: #e6533c;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding-left: 3px;
  padding-right: 20px;
}
nav ul > li {
  list-style: none;
  font-size: 1.125rem;
}
#home {
  background-color: #e6533c;
  border-radius: 20px;
  padding: 8px 18px;
}
/* banner styles */

.banner-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-info h1{
  font-size: 78px;
  font-weight: 900;
  margin-bottom: 28px;
}
#shape-text{
  font-family: 'miama';
  font-size: 9.375rem;
  font-weight: 400;
  line-height: 1px;
}
.banner-description{
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 28px;
}
.banner-join-btn,
.download-app-btn{
  padding: 16px 40px;
  font-size: 1.125rem;
  font-weight: 600;
  background: #e6533c;
  border: none;
  border-radius: 42px;
  margin-right: 14px;
}
.download-app-btn{
  background: transparent;
  border: 1px solid white;
}
.banner-img{
  position: relative;
}
.free-workout-video,
.video-tutorial{
  position: absolute;
  content: '';
  height: 100px;
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 140px;
  right: -100px;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.free-workout-info{
  text-align: left;
}
.free-workout-video h2{
  font-size: 2.5rem;
  font-weight: 900;
}
.free-workout-video p{
  font-size: .8125rem;
  color: rgba(255, 255, 255, 0.65);
}
.video-tutorial{
  top: 400px;
  left: -100px;
}
.video-tutorial-info{
  text-align: left;
  position: relative;
  left: 30px;
}
.video-tutorial h2{
  font-size: 1.5rem;
  font-weight: 900;
}
.video-tutorial p{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.65);
}
.circle{
  position: absolute;
  content: '';
  background-color: #e6533c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  left: 22px;
}

/* mobile responsive styles */

@media screen and (max-width:576px) {
  .header{
    padding: 50px 20px;
  }
  nav{
    background-image: url("../asset/menu.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
  nav > ul{
    display: none;
  }
  nav h2{
    margin-bottom: 50px;
  }
  nav h2,
  .banner-section h1{
    font-size: 2rem;
  }
  #shape-text{
    font-size: 4rem;
    line-height: 1px;
  }
  .banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-info{
    padding: 0;
    margin-bottom: 45px;
  }
  .banner-join-btn,
  .download-app-btn{
    margin-bottom: 20px;
}
  .free-workout-video{
    width: 145px;
    height: 74px;
    top: 50px;
    left: 200px;
  }
  
.video-tutorial{
  height: 72px;
  width: 155px;
  top: 260px;
  left: 0px;
}
.free-workout-video h2{
  font-size: 1.875rem;
  font-weight: 900;
}
.free-workout-video p{
  font-size: .5625rem;
  color: rgba(255, 255, 255, 0.65);
}
.video-tutorial h2{
  font-size: 1.125rem;
  font-weight: 900;
}
.video-tutorial p{
  font-size: 0.75rem;
}

}