@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: white;
}
/* shared styles */
.header {
  padding: 50px 190px 0px 190px;
  background-image: linear-gradient(
    180deg,
    #000 0%,
    #111 10%,
    #222 50%,
    #111 80%,
    #000 100%
  );
}

.btn-primary,
.download-app-btn {
  padding: 16px 40px;
  font-size: 1.125rem;
  font-weight: 600;
  background: #e6533c;
  border: none;
  border-radius: 42px;
}
body {
  background-color: #000;
}
footer{
  background-color: rgba(255, 255, 255, 0.1);
}
.section-title {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 14px;
}
.text-center {
  text-align: center;
}
.section-description {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 32px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.change-img-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.training-img-description {
  font-size: 0.875rem;
  font-weight: 500;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  color: white;
}
nav h2 {
  color: #e6533c;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 48px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding-left: 3px;
  padding-right: 20px;
}
nav ul > li {
  list-style: none;
  font-size: 1.125rem;
}
#home {
  background-color: #e6533c;
  border-radius: 20px;
  padding: 8px 18px;
}
/* banner styles */

.banner-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-info h1 {
  font-size: 78px;
  font-weight: 900;
  margin-bottom: 28px;
}
#shape-text {
  font-family: "miama";
  font-size: 9.375rem;
  font-weight: 400;
  line-height: 1px;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 28px;
}
.btn-primary {
  margin-right: 14px;
}
.download-app-btn {
  background: transparent;
  border: 1px solid white;
}
.banner-img {
  position: relative;
}
.free-workout-video,
.video-tutorial {
  position: absolute;
  content: "";
  height: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 140px;
  right: -100px;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.free-workout-info {
  text-align: left;
}
.free-workout-video h2 {
  font-size: 2.5rem;
  font-weight: 900;
}
.free-workout-video p {
  font-size: 0.8125rem;
  color: rgba(255, 255, 255, 0.65);
}
.video-tutorial {
  top: 400px;
  left: -100px;
}
.video-tutorial-info {
  text-align: left;
  position: relative;
  left: 30px;
}
.video-tutorial h2 {
  font-size: 1.5rem;
  font-weight: 900;
}
.video-tutorial p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.65);
}
.circle {
  position: absolute;
  content: "";
  background-color: #e6533c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  left: 22px;
}
/* change habit styles */

.change-habit-container {
  padding: 100px 200px;
}
.change-habit-info {
  margin-bottom: 50px;
}
.change-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.change-img-container img {
  border-radius: 50%;
  border: 4px solid #111;
  margin-bottom: 30px;
}
/* run extra mile styles starts here */
.run-extra-mile-container {
  padding: 100px 190px;
}
.run-extra-mile {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.run-extra-info {
  padding: 10px;
}
.run-extra-img {
  position: relative;
  width: 360px;
  height: 310px;
  overflow: hidden;
  border-radius: 18px;
}
.run-picture {
  position: absolute;
  top: -200px;
  left: -780px;
}

/* training section styles starts here*/

.training-container {
  padding: 100px 190px;
}
.training-info {
  margin-bottom: 58px;
}
.training-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.training-img .row-1 {
  display: grid;
  grid-template-columns: 1fr 530px 1fr;
  position: relative;
}
.text-1 {
  position: absolute;
  top: 220px;
  left: 30px;
}
.filter-1 {
  position: absolute;
  content: "";
  width: 28%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(6, 255, 210, 0.5);
}
.text-2 {
  position: absolute;
  top: 235px;
  left: 390px;
}
.filter-2 {
  position: absolute;
  content: "";
  width: 529px;
  height: 100%;
  left: 28.1%;
  top: 0;
  background-color: rgba(255, 0, 0, 0.3);
}
.text-3 {
  position: absolute;
  top: 230px;
  left: 900px;
}
.filter-3 {
  position: absolute;
  content: "";
  width: 28%;
  height: 100%;
  left: 72.1%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.training-img .row-2 {
  display: grid;
  grid-template-columns: 425px 1fr 1fr;
  position: relative;
}
.text-4 {
  position: absolute;
  left: 20px;
  top: 200px;
}
.filter-4 {
  position: absolute;
  content: "";
  width: 425px;
  height: 100%;
  left: 0px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.text-5 {
  position: absolute;
  left: 500px;
  top: 200px;
}
.filter-5 {
  position: absolute;
  content: "";
  width: 32.3%;
  height: 100%;
  left: 425px;
  top: 0;
  background-color: rgba(66, 255, 0, 0.3);
}
.text-6 {
  position: absolute;
  top: 200px;
  left: 830px;
}
.filter-6 {
  position: absolute;
  content: "";
  width: 32.3%;
  height: 100%;
  left: 814px;
  top: 0;
  background-color: rgba(0, 71, 255, 0.3);
}

/* bmi section styles */
.bmi {
  padding: 88px 385px;
}
/* bmi calc styles */
.bmi-calc-container {
  background: rgb(34, 34, 34);
  padding: 50px 190px;
}

/* bmi chart styles */
.bmi-calc-container {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  font-size: 0.875rem;
}
.bmi-title {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 52px;
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  padding: 12px 18px;
}
th {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  text-align: left;
}
.calc-bmi {
  max-width: 575px;
}
.bmi-calc-title {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 14px;
}
form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin-bottom: 34px;
}
#exercise-amount {
  grid-column: 1 / -1;
}
form input,
select,
option {
  margin: 0 12px 12px 0;
  height: 48px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 14px 20px;
}
form option {
  background-color: rgb(34, 34, 34);
}
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* meet our team section styles */
.our-team-container{
  padding: 88px 190px;
}
.our-team-info{
  text-align: center;
  margin-bottom: 58px;
}
.our-team-img-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 18px;

}
.our-team-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.our-team-img-container .img{
  position: relative;
}
.our-team-img-container .bg-color{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.2);
}
.our-team-img-container .text{
  position: absolute;
  content: '';
  top: 80%;
  left: 10%;
}
.our-team-img-container .our-team-img-title{
  font-size: 1.25rem;
  font-weight: 700;
}
.our-team-img-container .our-team-img-description{
  font-size: .875rem;
  color: rgba(255, 255, 255, 0.5);
}

/* footer styles here */
.fitness{
  display: flex;
  padding: 66px 190px 0;
  justify-content: space-between;
}
.fitness-info{
  max-width: 445px;
}
.fitness-footer-title{
  font-size: 4.375rem;
  font-weight: 900;
  font-style: italic;
  color: #e6533c;
  margin-bottom: 20px;
}
.get-started-title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.get-started > ul > li{
  list-style: none;
  margin-bottom: 20px;
  font-size: 1.43rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

footer hr{
  width: 80%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 80px auto 36px;
}

footer .copyright-text{
  text-align: center;
  padding-bottom: 35px;
}
footer small{
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}


/* mobile responsive styles */

@media screen and (max-width: 576px) {
  /* header styles here */
  .header {
    padding: 50px 20px;
  }
  nav {
    background-image: url("../asset/menu.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
  nav > ul {
    display: none;
  }
  nav h2 {
    margin-bottom: 50px;
  }
  nav h2,
  .banner-section h1 {
    font-size: 2rem;
  }
  #shape-text {
    font-size: 4rem;
    line-height: 1px;
  }
  .banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-info {
    padding: 0;
    margin-bottom: 45px;
  }
  .banner-description br {
    display: none;
  }
  .btn-primary,
  .download-app-btn {
    margin-bottom: 20px;
  }
  .free-workout-video {
    width: 40%;
    height: 15%;
    top: 50px;
    left: 200px;
  }

  .video-tutorial {
    height: 15%;
    width: 50%;
    top: 260px;
    left: 0px;
  }
  .free-workout-video h2 {
    font-size: 1.875rem;
    font-weight: 900;
  }
  .free-workout-video p {
    font-size: 0.5625rem;
    color: rgba(255, 255, 255, 0.65);
  }
  .video-tutorial h2 {
    font-size: 1.125rem;
    font-weight: 900;
  }
  .video-tutorial p {
    font-size: 0.75rem;
  }

  /* change habit styles here */

  .change-habit-container {
    padding: 0 20px 60px 20px;
  }
  .change-img-container {
    flex-direction: column;
  }
  .section-title {
    font-size: 2rem;
  }
  .section-description {
    font-size: 0.875rem;
  }

  /* run an extra mile styles here */
  .run-extra-mile-container {
    padding: 20px;
  }
  .run-extra-mile {
    flex-direction: column;
  }
  .run-extra-img {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
    border-radius: 18px;
  }
  .run-picture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  /* training styles starts here */

  .training-container {
    padding: 20px;
    margin-bottom: 50px;
  }
  .training-info {
    margin-bottom: 38px;
  }
  .section-description br {
    display: none;
  }
  .img-display-none {
    display: none;
  }
  .training-img .row-1 {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .training-img-description {
    font-size: 0.6rem;
  }
  .text-1 {
    position: absolute;
    top: 70%;
    left: 2%;
  }
  .filter-1 {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(6, 255, 210, 0.5);
  }

  .text-2 {
    position: absolute;
    top: 74%;
    left: 55%;
  }
  .filter-2 {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: rgba(255, 0, 0, 0.3);
  }

  .training-img .row-2 {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }
  .text-4 {
    position: absolute;
    top: 70%;
    left: 2%;
  }
  .filter-4 {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 0px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .text-5 {
    position: absolute;
    top: 70%;
    left: 52%;
  }
  .filter-5 {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 50%;
    background-color: rgba(66, 255, 0, 0.3);
  }

  /* bmi section styles */
  .bmi {
    padding: 20px;
  }

  /* bmi calculator section styles */
  .bmi-calc-container {
    flex-direction: column;
    padding: 20px;
  }
  .bmi-title,
  .bmi-calc-title {
    margin-bottom: 22px;
    font-size: 1rem;
  }
  .bmi-calc-title {
    margin-bottom: 14px;
  }
  .bmi-chart {
    margin-bottom: 42px;
  }

  /* meet our team styles */

  .our-team-container{
    padding: 20px;
  }
  .our-team-info{
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 0;
  }
  .our-team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
/* footer styles */
.fitness{
  flex-direction: column;
  padding: 44px 20px 0;
}
footer hr{
  width: 90%;
  margin-top: 52px;
  margin-bottom: 40px;
  }
  footer .copyright-text{
    padding-bottom: 56px;
  }

}
